<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.dao.DdinfoDAO">
    <resultMap type="com.it.entity.Ddinfo" id="BaseResultMap">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="memberid" property="memberid" jdbcType="INTEGER"/>
        <result column="movieid" property="movieid" jdbcType="INTEGER"/>
        <result column="ddno" property="ddno" jdbcType="INTEGER"/>
        <result column="savetime" property="savetime" jdbcType="VARCHAR"/>
        <result column="fkstatus" property="fkstatus" jdbcType="VARCHAR"/>
        <result column="fee" property="fee" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="add" parameterType="com.it.entity.Ddinfo">
      insert into Ddinfo values(null,#{memberid},#{movieid},#{ddno},#{savetime},#{fkstatus},#{fee})
    </insert>

    <select id="selectAll" resultMap="BaseResultMap">
        select * from Ddinfo where 1=1
        <if test="memberid!=null and memberid!=''">
            and memberid=#{memberid}
        </if>
        <if test="movieid!=null and movieid!=''">
            and movieid=#{movieid}
        </if>
        <if test="key!=null and key!=''">
            and ddno=#{key}
        </if>
    </select>



    <delete id="delete" parameterType="int">
      delete from Ddinfo where id=#{id}
    </delete>


</mapper>

