<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.dao.MemberDAO">
    <resultMap type="com.it.entity.Member" id="BaseResultMap">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="uname" property="uname" jdbcType="VARCHAR"/>
        <result column="upass" property="upass" jdbcType="VARCHAR"/>
        <result column="tname" property="tname" jdbcType="VARCHAR"/>
        <result column="filename" property="filename" jdbcType="VARCHAR"/>
        <result column="tel" property="tel" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="VARCHAR"/>
        <result column="qq" property="qq" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>

    </resultMap>

    <insert id="add" parameterType="com.it.entity.Member">
        insert into Member values(null,#{uname},#{upass},#{tname},#{filename},#{tel},#{sex},#{qq},#{email},'n')
    </insert>

    <update id="update" parameterType="com.it.entity.Member">
        update Member
        <set>
            <if test="upass!=null and upass!=''">upass=#{upass},</if>
            <if test="tname!=null and tname!=''">tname=#{tname},</if>
            <if test="filename!=null and filename!=''">filename=#{filename},</if>
            <if test="tel!=null and tel!=''">tel=#{tel},</if>
            <if test="sex!=null and sex!=''">sex=#{sex},</if>
            <if test="qq!=null and qq!=''">qq=#{qq},</if>
            <if test="email!=null and email!=''">email=#{email},</if>
            <if test="isgly!=null and isgly!=''">isgly=#{isgly},</if>

        </set>
        where id=#{id}
    </update>


    <select id="selectAll" resultMap="BaseResultMap">
        select * from Member where 1=1
        <if test="key!=null and key!=''">
            and tname like "%"#{key}"%"
        </if>
        <if test="uname!=null and uname!=''">
            and uname =#{uname}
        </if>
        <if test="upass!=null and upass!=''">
            and upass =#{upass}
        </if>
        <if test="tel!=null and tel!=''">
            and tel =#{tel}
        </if>
        order by id desc
    </select>


    <select id="findById" parameterType="int" resultType="com.it.entity.Member">
      select * from Member where id=#{id}
    </select>


    <delete id="delete" parameterType="int">
        delete from member where id=#{id}
    </delete>

</mapper>

