<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.dao.PlayrecordDAO">
    <resultMap type="com.it.entity.Playrecord" id="BaseResultMap">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="memberid" property="memberid" jdbcType="INTEGER"/>
        <result column="movieid" property="movieid" jdbcType="INTEGER"/>

    </resultMap>

    <insert id="add" parameterType="com.it.entity.Playrecord">
      insert into Playrecord values(null,#{memberid},#{movieid})
    </insert>

    <select id="selectAll" resultMap="BaseResultMap">
        select * from Playrecord where 1=1
        <if test="memberid!=null and memberid!=''">
            and memberid=#{memberid}
        </if>
        <if test="movieid!=null and movieid!=''">
            and movieid=#{movieid}
        </if>
    </select>



    <delete id="delete" parameterType="int">
      delete from Playrecord where id=#{id}
    </delete>


</mapper>

